/*****************************************************/
/*=== Section ===*/
/*****************************************************/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*****************************************************/
/*=== Columns ===*/
/*****************************************************/
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2%;
}
.col:first-child { margin-left: 0; }

/*****************************************************/
/*=== Grouping ===*/
/*****************************************************/
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*****************************************************/
/*=== Grid of eight ===*/
/*****************************************************/
.cols-8 {
	width: 100%;
}

.cols-7 {
  	width: 87.25%;
}

.cols-6 {
  	width: 74.5%;
}

.cols-5 {
  	width: 61.75%;
}

.cols-4 {
  	width: 49%;
}

.cols-3 {
  	width: 36.25%;
}

.cols-2 {
  	width: 23.5%;
}

.cols-1 {
  	width: 10.75%;
}

/*****************************************************/
/*=== 480px media query ===*/
/*****************************************************/
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.cols-1, .cols-2, .cols-3, .cols-4, .cols-5, .cols-6, .cols-7, .cols-8 { width: 100%; }
}