body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	padding: 50px;
	background: #0e0600;
	color: #fff;
	letter-spacing: .1em;
	line-height: 1.5em;
}

h2{
	font-weight: 300;
}

#top-header, .accent{
	color: #f3be60;
}

article ul{
	list-style: square;
	list-style-color: #f3be60; 
}

.article-content{
	background: #20201e;
	border: 1px solid #747065;
	padding: 10px;
}

.article-content ul{
	margin: 0;
	padding: 0;
}

.article-content li{
	list-style: none;
}