/*****************************************************/
/*=== Some helpful variables ===*/
/*****************************************************/
$wrapper-width: 90%;

$dark-color: #000;
$mid-color: #bebebe;
$accent-color: rgb(30, 150, 250);
$hover-accent-color: $accent-color - 70;

/*****************************************************/
/*=== Fonts ===*/
/*****************************************************/
$family: 'Open Sans', sans-serif;

$h1: 2.827em;
$h2: 1.999em;
$h3: 1.414em;
$h4: 1em;
$h5: 0.8em;
$h6: 0.707em;

$small: $h5;
$smallest: $h6;