@import normalize.css;

/*______Base______*/
*{
	box-sizing: border-box;
}

body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #eee;
	line-height: 1.7em;
}

a{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

/*______Helpers______*/

/* Clearfix */
.clearfix{
    zoom: 1;
}

.clearfix:before,
.clearfix:after{
	content: " ";
    display: table;
}

.clearfix:after{
	clear: both;
}

/* Lists */
ul.inline-list > li{
	display: inline-block;
	margin-right: 5px;
}

ul.inline-list > li:last-child{
	margin-right: 0;
}

/*______Containers______*/
.header-container{
	width: 90%;
	margin: 0 auto;
}

.brand{
	width: 25%;
	float: left;
}

.navigations{
	width: 75%;
	float: right;
}

/*______Site menu______*/
.upper-nav,
.site-menu{
	text-align: right;
}

.upper-nav ul{
	display: inline-block;
	margin-left: 10px;
}

.searchbox form{
	display: inline-block;
	margin-left: 10px;
}

button.search-button{
	margin-left: -6px;
	border: 1px solid #eee;
	background: #fff;
	padding: 7px 10px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.search-button > img{
	width: 10px;
	height: 10px;
}

input[type="search"]{
	border: 1px solid #eee;
	padding: 7px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.site-menu{
	margin-top: 15px;
}

.site-menu > ul,
.upper-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


.site-menu li a{
	background: transparent;
	border-radius: 10px;
	padding: 10px;
	-webkit-transition: background .2s;
    transition: background .2s;
}

.site-menu li a:hover{
	background: #4ca0db;
}

.site-menu ul.sub-1{
	display: none;
	position: absolute;
}

.site-menu > ul > li:hover > ul.sub-1{
	display: block;
	background: #234465;
	margin: 3px 0 0 0;
	padding: 0;
	list-style: none;
}

ul.sub-1 li{
	text-align: left;
	width: 200px;
	border-bottom: 1px solid #676767;
	padding: 10px 15px;
	margin: 0;
}

ul.sub-1 a{
	padding: 0;
}

ul.sub-1 li a{
	background: transparent;
}

ul.sub-1 li{
	background: #234465
}

ul.sub-1 li:hover{
	background: orange;
}

/*______Other Elements______*/
.header{
	font-weight: bold;
	background: #234465;
	color: #fff;
	width: 100%;
	padding: 15px 0;
}

.beta-tag{
	position: absolute;
	top: 30px;
	font-size: 14px;
}

.clear{
	clear: both;
}

.first-span{
	position: relative;
	vertical-align: center;
}

.first-span img{
	width: 20px;
	height: 20px;
}

img.notification{
	position: relative;
	vertical-align: middle;
	margin-bottom: 3px;
}

/*______Mobile______*/
@media only screen and (max-width: 768px) {
	*{
		text-align: center;
	}

	.brand{
		width: 100%;
		float: none;
	}

	.navigations{
		margin-top: 50px;
		width: 100%;
		float: none;
	}

	.upper-nav,
	.site-menu{
		text-align: center;
	}

	ul.inline-list > li{
		display: block;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 15px;
	}

	.site-menu > ul > li:hover > ul.sub-1{
		display: block;
		background: #234465;
		margin: 0 auto;
		padding: 0;
		list-style: none;
	}
}